@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,300&display=swap');

:root {
  --my-color-black: #212121;
  --my-color-teal: #6D9886;
  --my-color-beige: #D9CAB3;
  --my-color-grey: #F6F6F6;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--my-color-grey);
  font-family: 'Roboto', sans-serif;
}
.contenedor {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}
